{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}New Page{% endblock %}

{% block body_block %}
    <h1>Add Page</h1>
	  <div>
		{% if category %}
		<form role="form" id="page_form" method="post" action="{% url 'rango:add_page' category.slug %}">
		  <h2 class="form-signin-heading">Add Page to
        <a href="{% url 'rango:add_page' category.slug %}">{{ category.name }}</a> </h2>
      {% csrf_token %}
		  {% for field in form.visible_fields %}
			{{ field.errors }}
			{{ field.help_text }}<br />
			{{ field }}<br />
		  {% endfor %}
		  <button class="btn btn-primary" type="submit" name="submit">Add Page</button>
	  </form>
	{% else %}
	{% endif %}
	</div>
{% endblock %}
